//
//  Created by Hacktoolkit (@hacktoolkit)
//  Copyright (c) 2014 Hacktoolkit. All rights reserved.
//

// You can register for Yelp API keys here: http://www.yelp.com/developers/manage_api_keys

GITHUB_API_CONSUMER_KEY = yourGitHubConsumerKey
GITHUB_API_CONSUMER_SECRET = yourGitHubConsumerSecret
